* {
    font-family: "Lato", sans-serif;
    font-size: 14px;
  /*  border: solid black 1px; */
}
h2 {
    font-size: 20px;
    font-style: normal;
    vertical-align: top;
}
h2, strong {
    flex-wrap: wrap;
    align-items: stretch;
    border: 0;
    padding: 0;
}
p {
    border: 0;
    text-align: left;
    display: block;
    justify-content: end;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background: #4c5c69;
    hight: 120px;
    width: 978px;
}
header div {
    background-color: #4c5c69;
}
.div_logo {
    width: 50%;
    background: #4c5c69;
}
nav {
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background: #4c5c69;
    width: 50%;
}
a {
    font-size: 1.1em;
    border: 0;
    padding: 0;
    text-decoration: none;
}
a:visited {
    text-decoration: underline;
}
a:hover{
    color: #800080;
    text-decoration: underline;
}
nav div {
    display: table;
    align-content: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    background: #4c5c69;
}
nav div a{
    color: #ffffff;
    font-style: normal !important;
    background: #4c5c69;
    text-align: center;
    vertical-align: middle;
}

main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 978px;
    background: #FFFFFF;
}
.img20 {
    width: 1.5em;
    height: 1.5em;
}
section {
    background: #FFFFFF;
}
span {
    display: flex;
    flex-direction: row;
    justify-content: left;
    vertical-align: top;
}
section span {
    justify-content: space-around;
}
.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    width: 100%;
    border-bottom: solid gainsboro 2px;
    padding: 10px 5px 20px 5px;
}
.section2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #FFFFFF;
    width: 100%;
    border-bottom: solid gainsboro 2px;
    padding: 10px 5px 20px 5px;
}
.divrowcol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 1em;
}
main section div img {
    padding: 3px;
    margin: 6px;
    /*border: solid gainsboro 2px;*/
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.75);
}
main section div {
    justify-content: space-between;
    align-items: center;
}
.dimage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
article {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: start;
    text-align: left;
}
.article1 {
    width: 100%;
}
.article2 {
    width: 100%;
font-size: 1rem;
}
section {
    width: 978px;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 978px;
    height: 50px;
}
footer span p {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    vertical-align: top;
    color: #4c5c69;
}
article div p {
    display: flex;
    flex-wrap: wrap
}
footer span img {
    padding: 0.5em;
}
.fa-twitter {
    color: #4a51ff;
}
.fa-cogs{
    color: #38b44a;
}
.fa-rss{
    color: #d68b15;
}
.icon-text {
    display: flex;
    flex-direction: row;
}
.space-text{
    margin-left: 10px;
}
time {
    font-size: 0.9em;
    color: gray;
}
@media screen and (max-width: 980px) {
    main {
        width: 90vw;
        padding-left: 4em;
        padding-right: 3em;
    }
    body {
        width: 100vw;
    }
    .divrowcol {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .section2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    header {
        position: fixed;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        background: #4c5c69;
        z-index: 10 !important;
        hight: 120px;
        width: 100vw;
    }
    main section span {
        position: relative;
        justify-content: space-around;
        align-items: start;
        align-content: space-around;
    }
    footer {
        width: 90vw;
    }
}
